@media only screen and (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #sidebar {
    float: right;
    width: 200px;
    height: 500px;
    color: black;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
}

.photo-profile {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-image: url('../images/profile.jpeg');
}

.links-sidebar {
  margin: auto;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.date-updated {
  width: 100%;
  bottom: 0px;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

#sidebar div[class^="photo-"]:not(.photo-profile) {
  width: 20px;
  height: 20px;
  margin: auto;
  margin-right: 15px;
  display: inline-block;
}

.photo-github {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png');
}

.photo-linkedin {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png');
}

.photo-angel {
  background-image: url('http://icons-for-free.com/free-icons/png/512/1181206.png');
}

.photo-resume {
  background-image: url('https://png.icons8.com/ios/1600/resume.png');
}

.photo-email {
  background-image: url('http://pngimg.com/uploads/email/email_PNG51.png');
}