html, body, #root, #app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: white;
  background-color: white;
}

#navbar {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  background-color: black;
}

a[class^="tabs-"] {
  cursor: pointer;
}