html, body, #root, #app {
  width: 100%;
  margin: 0px;
  height: 100%;
  padding: 0px;
  color: white;
  background-color: rgb(38,38,38);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

div[class^="content-"] {
  width: 50%;
  margin: auto;
  padding: 20px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

div[class^="photo-"] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.stuff {
  margin-top: 40px;
}